<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Calculator</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">


    <!--
        <link rel="stylesheet" type="text/css" href="style.css">
    -->
</head>
<body>
    <h1>Time Calculator</h1>
    <form action="/calculate" method="post">
        <label for="start_time">Start Time (h:m:s:ms):</label>
        <input type="text" id="start_time" name="start_time" required><br>

        <br>

        <label for="end_time">End Time (h:m:s:ms):</label>
        <input type="text" id="end_time" name="end_time" required><br>

        <br>

        <label for="normal_setup">normal_setup:</label>
        <input type="text" id="normal_setup" name="normal_setup" required><br>

        <br>

        <label for="extra">Extra:</label>
        <input type="text" id="extra" name="extra" required><br>

        <br>

        <button type="submit">Calculate</button>
    </form>

    <br>

    <div id="result">
        {{ result }}
    </div>

    <script>
        function resetInputs() {
            document.getElementById("start_time").value = "";
            document.getElementById("end_time").value = "";
            document.getElementById("normal_setup").value = "";
            document.getElementById("extra").value = "";
        }
    </script>

</body>
</html>
